.rowOne {
    display: flex;
    /* background-color: rgb(86, 122, 122); */
}

.columnOne {
    flex: 35%;
    height: 100vh;
    background-image: url(/images/pexels-twilight-kenya-13365373.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.columnTwo {
    flex: 65%;
    background-color: rgb(86, 122, 122);
    padding-left: 5%;
}

.paragraphOne {
    padding-top: 5%;
}

.paragraphThree {
    padding-top: 2%;
    background-color: antiquewhite;
    margin-right: 5%;
    margin-left: -5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border: 1px solid wheat;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(37, 40, 87);


}
.sectionTwo {
    display: flex;

}

.section {
    flex: 50%;

}
.paragraphFour{
    padding-top: 2%;
}
/* .section ~ ul ~ li {
    padding-top: 10%;

} */

ul {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}
li {
    padding-top: 10px;
}

label,input {
    display:flex;
    flex-direction:column;
  }
input {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #475b83;
}
label {
    /* uniform size and alignment */
    /* display: inline-block; */
    /* width: 90px; */
    text-align: left;
    
}
button {
    background-color: #a39999;
    border-radius: 7px;
    height: 30px;
    width: 130px;
}
input:focus {
  /* Additional highlight for focused elements */
  border: 1px solid #598ef8;
  background-color: rgb(178, 247, 247);
}
